<link rel="stylesheet" href="/public/src/css/footer.css">

<div class="row justify-content-center p-0 m-0" id="footer">
    <img id="footer-img" src="/public/src/img/footer.png" class="img-fluid px-0" alt="Banner_image" />
    <div class="py-5 px-0 row content-width" id="footer-content">
        <div class="col-4">

        </div>
        <div class="col-8 text-end fw-light px-0">
            <a href="https://web.facebook.com/Letmehack.lk/?_rdc=1&_rdr" target="_blank"><i class="fa-brands fs-2 mx-2 mb-3 fa-facebook" style="color: #ffffff;"></i></a>
            <a href="https://www.linkedin.com/company/society-of-computer-sciences-susl/" target="_blank"><i class="fa-brands fs-2 mx-2 mb-3 fa-linkedin" style="color: #ffffff;"></i></a>
            <a href="https://www.instagram.com/letmehack2020/" target="_blank"><i class="fa-brands fs-2 ms-2 mb-3 fa-square-instagram" style="color: #ffffff;"></i></a>
            <p>All rights reserved @2023</p>
            <p>Society of Computer Sciences - Sabaragamuwa University of Sri Lanka</p>
        </div>
    </div>

</div>