.card-group {
  width: 65%;
}

.card-m {
  border: none !important;
}

.award-card {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(66, 66, 66, 0.8) 0.01%,
    rgba(51, 51, 51, 0.5) 99.99%,
    rgba(255, 255, 255, 0.885405) 100%
  );
  border-radius: 20px !important;
  width: 70%;
}

#silver {
  box-shadow: 0px 0px 15px 15px rgba(169, 181, 164, 0.5);
}

#gold {
  box-shadow: 0px 0px 15px 15px rgba(212, 162, 9, 0.5);
}

#bronze {
  box-shadow: 0px 0px 15px 15px rgba(191, 116, 63, 0.5);
}

@media only screen and (max-width: 992px) {
  .card-group {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  #gold {
    margin-top: 2rem !important;
  }
}
