#award-card {
  .card {
    width: 18rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .card-text {
    color: #C0C0C0;
  }

  #gold {
    box-shadow: 0 0 23px 7px #FFD700;
  }

  #silver {
    box-shadow: 0 0 23px 7px #C0C0C0;
  }

  #bronze {
    box-shadow: 0 0 23px 7px #CD7F32;
  }
}