#navbar {
    position: absolute; 
    top: 0px; 
    width: 100%;
}

.navbar .container-fluid .navbar-nav .nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar .container-fluid .navbar-nav .nav-link {
    color: #000;
    align-items: center;
}

@media (max-width: 992px) {
    #navbar {
        background-color: #0B270E;
    }

    .navbar .container-fluid .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-toggler {
        border-color: #fff;
        color: #fff;
    }

    .navbar-toggler .navbar-toggler-icon {
        color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar .container-fluid .navbar-nav .nav-item {
        padding-left: 0px;
        padding-right: 0px;
    } 
}