#navbar {
    position: absolute; 
    top: 0px; 
    width: 100%;
}

.navbar .container-fluid .navbar-nav .nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar .container-fluid .navbar-nav .nav-link {
    color: #000;
    align-items: center;
}